<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>API Exercise Udacity</title>
    </head>

    <body>

        <h3>
            Sample API Request
        </h3>

        <main>
            <section>
                <input type="button" name="" value="submit" onclick="return Client.handleClick(event)" />
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

    </body>
</html>
